.board {
  display: flex;
  gap: 20px;
  padding: 20px;
}

.column {
  width: 250px;
  background: #f1f1f1;
  padding: 15px;
  border-radius: 10px;
}

.task-list {
  min-height: 200px;
  padding: 10px;
  background: white;
  border-radius: 10px;
}

.task-card {
  margin-bottom: 10px;
  position: relative;

  display: flex;
  align-items: center;

  .task-content {
    width: 70%;
    padding: 10px;
    cursor: pointer;
  }

  .delete-btn {
    top: 5px;
    right: 5px;
    background:white;
    border-radius: 40%;
  }
}
.add-task-container {
  display: flex;
  justify-content: flex-end;
  padding: 10px 20px;
}

.board {
  display: flex;
  gap: 20px;
  padding: 20px;
  justify-content: space-between;
}

.column {
  background: #f1f1f1;
  border-radius: 10px;
  padding: 15px;
  width: 24%;
  min-height: 500px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.12);
  display: flex;
  flex-direction: column;
}

.column h2 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
  padding-left: 5px;
}
