.dialog-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 10px;
}

.full {
  width: 100%;
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 10px;
}
